<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <%= stylesheet_link_tag "widgets/widget" %>
  <%=stylesheet_link_tag 'serviceexecution/startup' %>
  <%=stylesheet_link_tag 'serviceexecution/registration' %>
  <%= stylesheet_link_tag 'jquery/jquery-ui.custom' %>
  <%= stylesheet_link_tag 'jquery_upload/bootstrap.min' %>
  <%= stylesheet_link_tag 'scaffolds' %>

  <%= javascript_include_tag "jquery/jquery" %>
  <%= javascript_include_tag "jquery/jquery-ui" %>
  <%= javascript_include_tag "jquery/swfobject" %>
  <%= javascript_include_tag "widgets/widget" %>
  <%= javascript_include_tag "serviceexecution/starup" %>
  <%= javascript_include_tag "widgets/jquery.color" %>
  <%= csrf_meta_tag %>

</head>
<body>

<%= yield %>

</body>
</html>