<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <%= stylesheet_link_tag "widgets/widget" %>
  <%=stylesheet_link_tag 'serviceexecution/startup' %>
  <%=stylesheet_link_tag 'serviceexecution/registration' %>
  <%= stylesheet_link_tag 'jquery-ui.custom' %>
  <%= stylesheet_link_tag 'jquery_upload/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'scaffolds' %>

  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery-ui.min" %>
  <%= javascript_include_tag "jquery.easing.1.3" %>
  <%= javascript_include_tag "swfobject" %>
  <%= javascript_include_tag "widgets/widget" %>
  <%= javascript_include_tag "serviceexecution/starup" %>
  <%= javascript_include_tag "widgets/jquery.color" %>
  <%= csrf_meta_tag %>

</head>
<body>

<%= yield %>

</body>
</html>